$primary-100: #fbd8e4;
$primary-200: #f7a9c3;
$primary-300: #f37aa3;
$primary-400Base: #ea1d62;
$primary-500: #c2124d;
$primary-600: #930e3b;
$primary-700: #650928;

$brown-100: #e9e1e2;
$brown-200: #bfa5a8;
$brown-300: #aa878b;
$brown-400: #946a6f;
$brown-500: #775458;
$brown-600: #574144;
$brown-700: #3a2b2d;
$brown-800: #1d1516;

$secondaryLight-50: #ffffff;
$secondaryLight-100: #c2fcf3;
$secondaryLight-200: #91fae9;
$secondaryLight-300: #61f7e0;
$secondaryLight-400: #30f5d6;
$secondaryLight-500: #2fffe7;
$secondaryLight-600: #00fbde;
$secondaryLight-700: #009584;
$secondaryLight-800: #006257;
$secondaryLight-800: #002c26;
